In [2]:
import pandas as pd
import numpy as np

In [5]:
data = np.random.randint(0, 100, [1000, 50])
df = pd.DataFrame(data)
df.tail()

,0,1,2,3,4,5,6,7,8,9,...,40,41,42,43,44,45,46,47,48,49
995,44,84,26,80,81,58,32,93,58,93,...,0,64,54,95,84,13,58,50,60,85
996,40,42,64,17,36,33,43,74,75,38,...,41,74,18,20,54,83,1,41,66,14
997,99,62,35,50,45,12,74,34,48,0,...,76,20,92,41,11,25,68,70,34,21
998,95,11,76,62,45,53,7,82,27,27,...,65,5,38,1,46,90,65,25,51,38
999,67,32,2,48,26,93,96,70,22,97,...,97,16,34,7,35,5,63,24,32,31